* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.clearfix {
  clear: both;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
button {
  transition: all, 1s ease;
  text-transform: uppercase;
  color: #ffffff;
}
h2 {
  font-size: 36px;
  font-family: 'Aleo';
}
body {
  color: #ffffff;
  font-size: 16px;
  font-family: 'JosefinSans';
  background-color: #232323;
}
.avatar {
  border-radius: 50%;
  display: none;
}
.logo {
  font-family: 'JosefinSans Bold';
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: 3px;
}
.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}
header {
  background: url('../img/firstscreen.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  padding: 265px 0 129px;
}
header h1 {
  font-size: 48px;
}
header .subtitle {
  font-size: 22px;
  padding: 17px 0 52px;
  line-height: 0.8;
  letter-spacing: 5px;
  word-spacing: 5px;
}
header i {
  color: #ffffff;
}
header .search-field {
  display: inline-flex;
}
header .search-field .search-btn {
  background-color: #5474fd;
  letter-spacing: 1px;
  padding: 18px 15px 18px 35px;
  border: 2px solid #ffffff;
  font-family: 'Aleo';
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .search-field .search-btn:hover {
  background-color: #3c54bd;
}
header .search-field .search-btn i {
  font-size: 18px;
  padding-left: 15px;
}
header .search-field input {
  padding: 15px 40px;
  border: 2px solid #ffffff;
  width: 500px;
  text-align: center;
  font-family: 'JosefinSans';
  font-size: 16px;
  color: #232323;
}
header .search-field input:focus {
  border-left: 5px solid #5474fd;
}
header .search-field input::placeholder {
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: #999999;
}
header .scroll {
  padding: 118px 0 0 0;
  word-spacing: -3px;
  letter-spacing: 2px;
  transition: all, 1s ease;
}
header .scroll a {
  text-transform: capitalize;
}
header .scroll a i {
  font-size: 24px;
  padding-top: 10px;
}
header .scroll a:hover {
  opacity: 0.6;
}
#nav {
  background-color: #5474fd;
  padding: 29px 0;
  z-index: 99999;
  display: flex;
  line-height: 0.8;
  width: 100%;
  position: relative;
}
#nav.sticky {
  opacity: 0.8;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  width: 100%;
}
#nav.sticky + main {
  padding-top: 80px;
}
#nav .nav-burger {
  display: none;
}
#nav .brand {
  font-size: 24px;
}
.logo-link {
  position: absolute;
}
.logo-link a {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}
.logo-link a:hover {
  border-bottom: 2px solid #ffffff;
}
.navbar {
  font-family: 'Aleo';
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  word-spacing: 2px;
}
.navbar li a::before {
  margin-right: 7px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
.navbar li a::after {
  margin-left: 7px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
.navbar li a::before,
.navbar li a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.navbar li a:hover::before,
.navbar li a:hover::after,
.navbar li a:focus::before,
.navbar li a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.choose_section {
  background: url('../img/section1.jpg') no-repeat;
  background-size: cover;
  padding: 120px 0 110px;
  position: relative;
}
.choose_section .flex {
  display: flex;
  flex-wrap: nowrap;
}
.choose_section .flex .choose_us {
  width: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
}
.choose_section .flex .choose_us h2 {
  padding-top: 84px;
  letter-spacing: 1px;
  line-height: 0.8;
}
.choose_section .flex .choose_us .text-content {
  padding: 62px 17px 0 5px;
  word-spacing: 3px;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: justify;
}
.choose_section .flex .choose_us .text-content p {
  padding-bottom: 28px;
}
.choose_section .flex .pic_wrap {
  width: 50%;
  display: flex;
  padding-left: 82px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.choose_section .flex .pic_wrap .pic1 {
  margin-bottom: 5px;
  margin-right: auto;
}
.choose_section .flex .pic_wrap .pic2 {
  margin-left: auto;
}
.choose_section .flex .pic_wrap .pic1 img,
.choose_section .flex .pic_wrap .pic2 img {
  display: block;
  width: 100%;
}
.choose_section .explore {
  padding: 20px 48px;
}
.steps {
  padding: 100px 0 110px;
  background: url('../img/steps.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.steps .steps_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 71px;
}
.steps .steps_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps .steps_list li p {
  font-family: 'Aleo';
  font-size: 36px;
}
.steps .steps_list li i {
  font-size: 60px;
  padding-bottom: 26px;
}
.steps .steps_list li i.icon-search {
  color: #5474fd;
}
.steps .steps_list li i.icon-select {
  color: #ff6363;
}
.steps .steps_list li i.icon-like {
  color: #00a2ff;
}
.review {
  background: url('../img/section4.jpg') no-repeat;
  background-size: cover;
  padding: 112px 0 200px;
}
.review .fullsize {
  display: block;
  width: 100%;
  object-fit: cover;
}
.review h2 {
  padding-bottom: 95px;
  text-align: center;
  word-spacing: 2px;
}
.review .review-content {
  display: flex;
  flex-wrap: nowrap;
}
.review .review-content .review_wrap {
  background-color: #333333;
  padding: 50px 50px 50px 64px;
}
.review .review-content .review_wrap .name {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 0.8;
  padding-bottom: 45px;
}
.review .review-content .review_wrap .review-text {
  line-height: 25px;
  text-align: justify;
  word-spacing: -1px;
}
.review .review-content .review_wrap .review-text i {
  color: #5474fd;
  position: relative;
  top: -12px;
  padding-right: 5px;
  font-size: 22px;
}
.spain {
  padding: 230px 0 100px;
  background-size: cover;
}
.spain .button {
  top: 10px;
}
.spain.first {
  background-image: url('../img/section2.jpg');
}
.spain.second {
  background-image: url('../img/section3.jpg');
}
.spain .block_wrap {
  display: flex;
  flex-wrap: nowrap;
}
.spain .block_wrap.right {
  justify-content: flex-end;
}
.spain .block_wrap .offer {
  padding: 45px 30px 81px 30px;
  margin-left: 10px;
  width: calc(50% - 20px);
  background-color: rgba(35, 35, 35, 0.9);
}
.spain .block_wrap .offer .country,
.spain .block_wrap .offer .place {
  font-size: 20px;
}
.spain .block_wrap .offer .place {
  padding: 30px 0 28px;
  line-height: 0.8;
  text-transform: uppercase;
}
.spain .block_wrap .offer .desc {
  padding-bottom: 50px;
  line-height: 26px;
  word-spacing: -2px;
}
footer {
  text-align: center;
  background-color: #232323;
  padding: 117px 0 30px;
}
footer .footer_brand {
  font-size: 24px;
}
footer .footer_subtitle {
  padding: 14px 0 29px;
  letter-spacing: 1px;
  word-spacing: 3px;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .socials a {
  margin: 0 10px;
}
footer .socials a:hover {
  color: #5474fd;
}
.choose_section,
.review {
  -webkit-box-shadow: inset 0px 0px 0px 1000px rgba(35, 35, 35, 0.9);
  -moz-box-shadow: inset 0px 0px 0px 1000px rgba(35, 35, 35, 0.9);
  box-shadow: inset 0px 0px 0px 1000px rgba(35, 35, 35, 0.9);
}
.btnwrap {
  display: flex;
}
.button {
  padding: 20px 67px;
  font-family: 'Aleo';
  z-index: 30;
  background-color: #5474fd;
  color: #ffffff;
}
.button:hover {
  background-color: #ffffff;
  color: #5474fd;
}
@media screen and (max-width: 1024px) {
  .choose_section .flex .pic_wrap .pic2 {
    margin-left: 0;
  }
  .choose_section .flex .pic_wrap .pic1 {
    margin-right: 0;
  }
  .steps .steps_list {
    padding: 0;
  }
  footer {
    padding-top: 80px;
  }
}
@media screen and (max-width: 992px) {
  .choose_section {
    padding: 80px 0;
  }
  .spain {
    padding: 100px 0;
  }
}
@media screen and (max-width: 768px) {
  #nav .logo-link {
    width: 50%;
  }
  #nav .navbar {
    display: none;
  }
  #nav .navbar.active_on_touch {
    display: block;
    padding: 30px 0;
  }
  #nav .navbar.active_on_touch li {
    margin: 15px 0;
  }
  .burger-wrap .nav-burger {
    display: block !important;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 110;
    top: 0;
    right: 0;
    float: right;
  }
  .burger-wrap .nav-burger.active_on_touch::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger-wrap .nav-burger.active_on_touch::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger-wrap .nav-burger.active_on_touch span {
    transform: scale(0);
  }
  .burger-wrap .nav-burger::before,
  .burger-wrap .nav-burger::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-wrap .nav-burger::before {
    top: 0;
  }
  .burger-wrap .nav-burger::after {
    bottom: 0;
  }
  .burger-wrap .nav-burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .choose_section .flex {
    flex-wrap: wrap;
  }
  .choose_section .flex .choose_us h2 {
    padding-top: 0;
  }
  .choose_section .flex .choose_us,
  .choose_section .flex .pic_wrap {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .choose_section .flex .pic_wrap {
    padding: 0;
    margin-top: 30px;
    justify-content: space-between;
  }
  .choose_section .flex .pic_wrap .pic1,
  .choose_section .flex .pic_wrap .pic2 {
    width: calc(50% - 30px);
    margin: 0 15px;
  }
  .choose_section .flex .pic_wrap .pic1 img,
  .choose_section .flex .pic_wrap .pic2 img {
    border: 3px solid #3c54bd;
  }
  .steps {
    padding: 50px 0;
  }
  .steps .steps_list {
    justify-content: space-evenly;
  }
  .steps .steps_list li i {
    font-size: 40px;
  }
  .steps .steps_list li p {
    font-size: 18px;
  }
  .btnwrap {
    justify-content: center;
  }
  .spain .block_wrap .offer {
    width: 100%;
  }
  .review {
    padding: 80px 0;
  }
  .review .fullsize {
    display: none;
  }
  .review .avatar {
    display: block;
    float: left;
    margin-right: 30px;
    width: 80px;
  }
  footer {
    padding-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  header .search-field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  header .search-field input {
    width: 100%;
  }
  .steps .steps_list {
    justify-content: space-between;
  }
}
@media screen and (max-width: 360px) {
  .choose_section .flex .choose_us .text-content {
    padding: 30px 0 0;
  }
  .choose_section .flex .choose_us h2 {
    text-align: center;
  }
  .choose_section .flex .pic_wrap .pic1,
  .choose_section .flex .pic_wrap .pic2 {
    width: 100%;
    margin: 5px 0;
  }
  .steps {
    background: #333333;
  }
  .steps .steps_list {
    display: block;
  }
  .steps .steps_list li {
    margin: 20px 0;
  }
  .review h2 {
    font-size: 28px;
    text-align: center;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  header .subtitle {
    font-size: 18px;
  }
  .spain .button {
    padding: 20px 35px;
  }
  .review .review-content .review_wrap {
    padding: 20px;
  }
  .review .review-content .review_wrap .avatar {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 50px;
  }
}
